

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html{
  font-size: 0.8rem
}
body {
  background-color: #f9f9f9;
  font-family: 'shabnam';
 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
   padding: 4rem 2rem 4rem 4rem;
  min-height: 100vh;
}

main{
  width: 85%;
  padding-left: 4rem;
}


@font-face {
  font-family: 'shabnam';
  src: url('/fonts/Shabnam-FD.eot')format('eot'),
    url('/fonts/Shabnam-FD.ttf')format('truetype'),
    url('/fonts/Shabnam-FD.woff')format('woff')
}

@font-face {
  font-family: 'shabnam-bold';
  src: url('/fonts/Shabnam-Bold-FD.eot')format('eot'),
    url('/fonts/Shabnam-Bold-FD.ttf')format('truetype'),
    url('/fonts/Shabnam-Bold-FD.woff')format('woff')
}

@font-face {
  font-family: 'shabnam-light';
  src: url('/fonts/Shabnam-Light-FD.eot')format('eot'),
    url('/fonts/Shabnam-Light-FD.ttf')format('truetype'),
    url('/fonts/Shabnam-Light-FD.woff')format('woff')
}

@font-face {
  font-family: 'shabnam-medium';
  src: url('/fonts/Shabnam-Medium-FD.eot')format('eot'),
    url('/fonts/Shabnam-Medium-FD.ttf')format('truetype'),
    url('/fonts/Shabnam-Medium-FD.woff')format('woff')
}